@import "abstracts/function";
@import "abstracts/mixins";
@import "abstracts/variables";

@import "base/base";
@import "base/animations";
@import "components/button";
@import "base/typography";
@import "base/utilities"; 

 @import "pages/_home";

 

 @import "layout/_header";
 @import "layout/_grid";
 


.low_heading{
    position:relative;
    top: 9vh;
}

.up_heading{
    position:absolute !important;
      left:30% !important;
      top:35% !important;
    
    }


    

 








